.parent{
    width: 90%;
    height: 90vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;    
   justify-content: baseline;
   position: relative;
   margin: 28px auto;
   box-shadow: rgba(3, 147, 75, 0.95) 0px 5px 15px;
}

form{
    display: flex;
    
    flex-direction: column;
    width: 70%;
    height: 80%;
}
h6{
    font-size: 1rem;
}
label{
    margin-top: 7px;
    margin-bottom: 7px;
}
a{
    all: unset;
}
.first-one{
    width: 45%;
    height: 80%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 7px;
    z-index: 5;
    margin-left: 50px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 5%;
    background-color: rgba(255, 255, 255,0.6);
    transition: all 1s linear;
       
    animation: rotateee 2s 1s;
}


#submitt:hover{
    background-color: cadetblue;

}
input{
    padding: 5px 0px;
}
#submitt{
    margin-top: 5px;
    background-color: green;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: all 0.9s linear;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100%;
    height: 30px;
    
}
i{
    margin-left: 30px;
    font-size:1.5rem;
    background-color: #ffff00;
   border-radius: 50%;
   animation: rotate  3s 2s infinite;
}
i:hover{
    animation-play-state: paused;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes rotatee{
    0%{
        transform: translate(-1000px);
    }
    100%{
        transform: translate(0px);
    }
}
@keyframes rotateee{
    0%{
        transform: translate(1000px);
    }
    100%{
        transform: translate(0px);
    }
}
.img{
    animation: rotatee 2s 1s;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 1s linear;
    border-radius: 7px;
    width: 47%;
    height: 90%;
    background-color: green; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
   right: 5%;

    
    
}

h1{
    
font-family: 'Noto Nastaliq Urdu', serif;
font-weight: 1000;

}
.immg{
    width: 40%;
    height: 50%;
    background-image: url(/login.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0% auto;
}






body {
	margin: 0;
	padding: 0;
	background-color: #000;
}
.first-one:hover{
    transform: scale(1.07,1.05);

}
.img:hover{
    transform: scale(1.07,1.05);

}
